<!--Menú principal con imágenes-->
<div class="jumbotron text-center">
    <h1>Tienda Virtual de Ropa</h1>
    <p>"La moda es un concepto y tú lo representas."</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4" style="text-align:center;">
        <img class="modelo" src="https://us.123rf.com/450wm/alenkasm/alenkasm1701/alenkasm170100063/69545874-mujer-de-fitness-deporte-de-moda-en-ropa-deportiva-haciendo-ejercicio-f%C3%ADsico-yoga-en-la-calle-de-la-.jpg?ver=6" alt="">
        <h3>Ropa Deportiva</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
      <div class="col-sm-4" style="text-align:center;">
          <img class="modelo" src="https://us.123rf.com/450wm/alenkasm/alenkasm1609/alenkasm160900216/63235767-dos-modelos-de-%C3%BAltima-moda-hombre-y-mujer-con-blanc-camiseta-pantalones-vaqueros-y-gafas-de-sol-posa.jpg?ver=6" alt="">
        <h3>Ropa Casual</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
      <div class="col-sm-4" style="text-align:center;">
        <img class="modelo" src="https://us.123rf.com/450wm/feedough/feedough1308/feedough130800330/21675249-moda-hombre-y-una-mujer-j%C3%B3venes-contra-la-pared-blanca-posando-para-la-c%C3%A1mara.jpg" alt="">
        <h3>Ropa Formal</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
  </div>