<form class="form-group row"><!--creación de un formulario en linea horizontal para que cargue la información de los productos-->
  
    <div class="form-group col-md-3">

      <label for="nombre">Nombre:</label>
      <input disabled="" type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
    </div>

    <div class="form-group col-md-3">

      <label for="descripcion">Descripcion:</label>
      <input disabled="" type="text" name="descripcion" id="descripcion" placeholder="Descripcion" class="form-control" [(ngModel)]="cuadroDescripcion">
    </div>

    <div class="form-group col-md-3">

      <label for="fechaIngreso">FechaIngreso:</label>
      <input disabled="" type="text" name="fechaIngreso" id="fechaIngreso" placeholder="FechaIngreso" class="form-control" [(ngModel)]="cuadroFechaIngreso">
    </div>

    <div class="form-group col-md-3">

      <label for="precio">Precio:</label>
      <input disabled="" type="text" name="precio" id="precio" placeholder="Precio" class="form-control" [(ngModel)]="cuadroPrecio">
    </div>

    <div class="form-group col-md-3">

      <label for="cantidad">Cantidad:</label>
      <input disabled="" type="text" name="cantidad" id="cantidad" placeholder="Cantidad" class="form-control" [(ngModel)]="cuadroCantidad">
    </div>

<div style="text-align: center;">
  
    <button class="btn btn-primary" (click)="volverProductos()">Regresar</button>

</div>